@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1C1C1C;
}

.content{
    color: #1C1C1C;
    border: 2px solid gray;
    background-color: #ECFDF5;
    border-radius: 5px;
    padding: 60px 40px;
   
}

h1{
    /* font-weight: bold; */
    font-size: 33px;
    margin-top: 10px;
    padding-bottom: 5px;
    line-height: 1.8rem;
}

span{
    color: #10B981;
    font-size: 36px;
}

p{
    font-weight: 400;
    color: #1c1c1cb2;
    margin-bottom: 18px;
}

.password-choice{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-style: italic;
    font-weight: 600;
    color: #1c1c1cb2;
}
.password-choice input[type = 'number']{
    border-radius: 4px;
    border: none;
    width: 2rem;
    font-size: 15px;
}


button{
    margin-top: 20px;
    margin-bottom: 22px;
    padding: 9px 10px;
    border: none;
    color: white;
    background-color: #10B981;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
button:hover {
    background-color: #10B981; 
    transform: scale(1.05);
}

.password-display{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.password-display input{
    margin-top: 20px;
    color: #10B981;
    background-color: #273549;
    text-align: center;
    padding: 4px 12px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.password-display input:hover{
    color: #fff;            
    border-color: #10B981;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#first-password{
    margin-right: 10px;
}
#second-password{
    margin-left: 10px;
}